1. How do you establish a connection to a MongoDB server using
Python?

In [1]:
from pprint import pprint

In [2]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://amogh9792:bluehorse1998@amogh.zciekxq.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

C:\Users\Amogh\anaconda3\Lib\site-packages\cryptography\x509\base.py:594: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

Pinged your deployment. You successfully connected to MongoDB!

2. Create a new MongoDB database using Python?

In [4]:
database = client['school']

In [5]:
database

Database(MongoClient(host=['ac-iaroxjk-shard-00-01.zciekxq.mongodb.net:27017', 'ac-iaroxjk-shard-00-00.zciekxq.mongodb.net:27017', 'ac-iaroxjk-shard-00-02.zciekxq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-qbhjvt-shard-0', tls=True), 'school')

In [6]:
table = database['data']

In [7]:
table

Collection(Database(MongoClient(host=['ac-iaroxjk-shard-00-01.zciekxq.mongodb.net:27017', 'ac-iaroxjk-shard-00-00.zciekxq.mongodb.net:27017', 'ac-iaroxjk-shard-00-02.zciekxq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-qbhjvt-shard-0', tls=True), 'school'), 'data')

3. Provide an example of inserting a single document into a MongoDB
collection using Python?

In [74]:
info = {
    "class" : "maths, physics, biology",
    "teachers" : "Gayatri Mam, sanjeev sir, ajay sir",
    "fees" : "10000"
}

In [11]:
table.insert_one(info)

InsertOneResult(ObjectId('658a6bbe3a17c38a82681240'), acknowledged=True)

In [16]:
database_names = client.list_database_names()
print("Available databases:", database_names)

Available databases: ['datawave', 'school', 'admin', 'local']

4. How do you insert multiple documents into a MongoDB collection
using Python?

In [104]:
info1 = [{
    "class name" : "python, database, java",
    "teachers" : "vaibhav sir, aaditya sir, bhaskar sir",
    "fees" : "24000"
 },
{
    "class name" : "mysql, devops, cloud",
    "teachers" : "prakash sir, chandan sir, ajit sir",
    "fees" : "10000"
},
    {
          "class" : "maths, physics, biology",
    "teachers" : "Gayatri Mam, sanjeev sir, ajay sir",
    "fees" : "10000"
}
]

In [105]:
table.insert_many(info1)

InsertManyResult([ObjectId('658a86d23a17c38a82681247'), ObjectId('658a86d23a17c38a82681248'), ObjectId('658a86d23a17c38a82681249')], acknowledged=True)

5. Extract data from MongoDB and convert it into a DataFrame using
Python?

In [103]:
record = table.find()

for i in record:
    
    pprint(i)

{'_id': ObjectId('658a84d23a17c38a82681245'),
 'class name': 'python, database, java',
 'fees': '24000',
 'teachers': 'vaibhav sir, aaditya sir, bhaskar sir'}

6. Provide an example of updating records in a MongoDB collection
using Python?

In [23]:
table.update_one({'class name': 'python, database, java'}, {"$set" : {"class name" : "history, geo, maths"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000002dd'), 'opTime': {'ts': Timestamp(1703573697, 19), 't': 733}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1703573697, 19), 'signature': {'hash': b'\xb2\xe6\x8c\x07(\xbbe\x89\xf6\xaf\x03\x02\x1b\x1f\x93M\xf7\xf4\xd8\xed', 'keyId': 7260018185204662274}}, 'operationTime': Timestamp(1703573697, 19), 'updatedExisting': True}, acknowledged=True)

In [76]:
table.update_one({'class name': 'mysql, devops, cloud'},{"$set": {'fees' : '40000'}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000002dd'), 'opTime': {'ts': Timestamp(1703576700, 11), 't': 733}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1703576700, 11), 'signature': {'hash': b'\t\xa0\x08\xdb\x0cf~\xe5m\x80gu\xa5\\\x97 \xad\x13D[', 'keyId': 7260018185204662274}}, 'operationTime': Timestamp(1703576700, 11), 'updatedExisting': True}, acknowledged=True)

8. Delete records from a MongoDB collection based on a condition
using Python?

In [35]:
table.delete_one({'fees': '10000'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000002dd'), 'opTime': {'ts': Timestamp(1703574325, 23), 't': 733}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1703574325, 23), 'signature': {'hash': b'Nl\x9c2\x8dl\xfd\xbd@\xdb\xfah\xd2\xd7~*X\x15\x12\xaa', 'keyId': 7260018185204662274}}, 'operationTime': Timestamp(1703574325, 23)}, acknowledged=True)

9. Provide an example of querying MongoDB with multiple conditions
using Python?

In [41]:
collection1 = [{
    
    "Name" : "amogh",
    "age" : 24,
    "salary" : 30000
},
{
    "Name" : "vaibhav",
    "age" : 24,
    "salary" : 90000
},
    {
        "Name" : "Aaditya",
        "age" : 25,
        "salary" : 20000
    }
]

In [42]:
employee.insert_many(collection1)

InsertManyResult([ObjectId('658a8cb7be8e5baa943664c3'), ObjectId('658a8cb7be8e5baa943664c4'), ObjectId('658a8cb7be8e5baa943664c5')], acknowledged=True)

In [62]:
result = employee.find({"salary": {"$gt" : 20000, "$lt" : 40000}})

for i in result:
    
    pprint(i)

{'Name': 'amogh',
 '_id': ObjectId('658a896fbe8e5baa943664bd'),
 'age': 24,
 'salary': 30000}

10. How do you use projection to extract specific columns in MongoDB
queries using Python?

In [70]:
result = employee.find({},{"Name"})

for i in result:
    
    pprint(i)

{'Name': 'amogh', '_id': ObjectId('658a896fbe8e5baa943664bd')}
{'Name': 'vaibhav', '_id': ObjectId('658a896fbe8e5baa943664be')}
{'Name': 'Aaditya', '_id': ObjectId('658a8cb7be8e5baa943664c5')}