Question 4: Extract Records with Salary Within a Range
Description: Given the 'employees' table with fields:
- employee_id (integer)
- first_name (string, max length 50)
- last_name (string, max length 50)
- salary (decimal with 2 decimal places)
- department (string, max length 50)
Extract records from the 'employees' table where the salary falls within the
range of 70000 to 80000.